:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.logo {height: 50px}

.serv-im-height {height:200px; width: auto;}

.pt-40{padding-top: 40px;}
.text-white  {color:white}
.mh-300{max-height: 300px;}
.mt-22 {margin-top: 22px}
.full-width {width:100% !important} 
.w-33{width:33.33% !important}
.mw-95{ max-width: 95% !important}
.mw-100 { max-width: 100% !important;}

.service-form-section .service-form .form-inner .form-group {
  position: relative;
  float: left;
  width: 25%;
  margin: 0px;
  padding-right: 10px !important;
  margin-bottom: 10px !important;
}

.sd li {

    position: relative;
    display: block;
    font-size: 16px;
    color: #222;
    padding-left: 28px;
    margin-bottom: 9px;
}

.sd li:before {
    position: absolute;
    content: "\f058";
    font-family: 'Font Awesome 5 Pro';
    font-size: 16px;
    font-weight: 700;
    left: 0px;
    top: 1px;
    color: #f36827;
}

.jamhead {

    display: block !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #20445a !important;
    font-weight: 500 !important;
    margin-bottom: 25px !important;

}

.mb-20{
  margin-bottom: 20px;
}

.mt-50 {margin-top: 50px;}

.testimonial-block-one .inner-box .author-box .rating li:last-child {

  color: #6de5f2 !important;
}

.contact-section .error {
  padding-left: 30px;
  color: red;
}

.sr-only{ 
  height: auto !important;
  width: auto !important;
  position: relative !important;
}
.quotefail {color:red; margin-top:20px}
.quotesucces {color: green; margin-top:20px}

.main-sidebar{padding-top:110px}

h5 {margin-bottom: 30px !important}
h4{font-size: 1.2rem !important;
  margin-bottom: 20px !important;
  margin-top: 30px !important;}

h3{margin-top:30px !important}

.faq .accordion-button {
  background: #f1f7fb;
  font-size: 18px;
  line-height: 28px;
  color: #222;
  font-weight: 600;
  padding: 15px 30px;
  border: 1px dashed #6de5f2;
}

.faw .accordion-button:hover {
  color: #f36827;
  border-color: #f36827;
}

.faw .accordion-tem {
  border: 1px dashed #6de5f2;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}



.banner-carousel .content-box *{
opacity: 1 !important;
}



@media only screen and (max-width: 499px) {
  .banner-carousel .slide-item {
      padding-top: 120px !important;
  }
}

.banner-carousel .slide-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 230px 0px 170px 0px;
  padding-top: 30px !important;
}